<div class="page" >
  <div class="header-container">
    <app-pokemon-input-search
      class="input"
      [disabled]="loading"
      (pokemonFoundEvent)="handleNewPokemon($event)"
      (pokemonNotFoundEvent)="newPokemonData = undefined"
    />

    <app-pokemon-card *ngIf="newPokemonData" class="card" [pokemon]="newPokemonData" />
      
    <button class="btn" *ngIf="newPokemonData" (click)="insertInPokedex()" [disabled]="loading" >
      <span *ngIf="loading" >capturando...</span>
      <span *ngIf="!loading" >capturar pokemon</span>
    </button>
  </div>

  <app-captured-pokemon-list />
</div>

